.container {
    height: 40px;
    padding: 0px 10px;
    background-color: rgba(254, 254, 254, 0.991);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
}


.title a {
    color: rgb(0, 0, 0);
    text-decoration: none;
   
}

.title {
    margin: 5px 0px;
    font-size: 30px;
}

ul {
    display: flex;
    margin: 0px 5px 0px 5px;
}

.items li {
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    
}

.active {
    color: white;
    padding: 12px;
    background-color: black;
    border-radius: 20px 20px 0px 0px;
}

.items a {
    text-decoration: none;
}

