.landing {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    
}

.landing video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.texttitle {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    font-size: 90px;
    color: white;
    animation: opacidad 2s linear;
}

@keyframes opacidad {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.sect, .opciones {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 35px;
}

.sect {
    animation: opacidad 2s linear;
}

.opciones {
    width: 200px;
    display: flex;
    justify-content: space-between;
    bottom: 30%;
    animation: aparicion 1s linear;
}

@keyframes aparicion {
    0%{
        opacity: 0%;
        bottom: 20%;
    }
    50% {
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        bottom: 30%;
    }
}

.opciones span {
    cursor: pointer;
}
.contentButton {
    position: absolute;
    z-index: 1;
}

.buttonEntrar {
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: aparicion 2s linear;
}

.buttonEntrar a {
    text-decoration: none;
    color: black;
}

