.landing {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    position: relative;
    background: url('../../image/bgPergamino.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1120px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.title {
    width: 45%;
    height: 573px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title h1 {
    font-family: cursive;
    font-style:oblique;
    font-size: 14vh;
    top: 10px;
    margin: 10px 0px;
    margin-left: 50px;
}

.buttonEntrar {
    background-color: transparent;
    border: none;
}

.buttonEntrar:hover {
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ffffff;
    font-weight: bold;
  }

  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }

.buttonEntrar a {
    width: 20vw;
    top: 800px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
}

.contentButton {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title p {
    width: 80%;
    font-size: 30px;
    font-family: cursive;
}


.contentImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.img {
    margin-top: 15%;
    width: 70%;
}

.sombra {
    background: rgba(0, 0, 0, 0.572);
    border-radius: 50%;
    width: 30%;
    height: 15px;
}

@media (max-width: 950px) {
    html {
        height: 100%;
    }
    body{
        height: 100vh;
        width: 100vw;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 90vh;
        align-items: flex-start;
    }
    
    .title {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 100vw;
        height: 50vh;
        justify-content: none;
    }

    .title p {
        margin: 25px auto;
        width: 90vw;
    }

    .contentImg{
        width: 100vw;
        height: 10%;
        margin-bottom: 30px;
    }

    .img {
        width: 30vw;
        margin-top: 20px;
    }

    .title h1 {
        font-size: 70px;
        margin: 25px 0px;
    }
    .contentButton {
        position: absolute;
        bottom: 110px;
    }
}



