.buttonDelete {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: transparent;
    border: 1px rgb(255, 255, 255);
    border-radius: 50%;
    background-color: red;
    color: white;
    position: absolute;
    right: 3px;
}

.buttonDelete:hover {
    cursor: pointer;
}

.pais {
    min-width: 130px;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.422);
    border-radius: 10px;
    margin: 0px 5px;
    overflow: hidden;
    border: 1px solid white;
    position: relative;
}

.pais:hover {
    cursor: default;
}
.pais p{
    margin: 0;
    margin-left: 5px;
}