.container {
    margin: 0;
    color: white;

}

.bodyContainer {
    display: flex;
    margin: 0;
    width: auto;
    height: 80vh;
    overflow: auto;
}

.containerItems {
    display: flex;
}

.onlySearch {
    text-align: left;
}

.container select {
    background-color: rgba(255, 255, 255, 0.524);
    border-radius: 2px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;  
}

.container select::placeholder {
    margin: auto;
}

.search {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
}
.search span {
    margin-right: 5px;
}

.countriesContainer{
    width: 100%;
    display: flex;
    padding: 10px;
    color: wheat;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.selectSort {
   text-align: left;
}
.selectSort label {
    margin: 0;
}
.botonFiltros {
    display: none;
}

.filters {
    display: flex;
    margin: 0 10px;
}

.items  {
    margin: 0 5px;
}

.subtitles {
    font-weight: 700;
    margin: 0 5px;
    letter-spacing: 0.5px;
}

@media (max-width: 970px){
    .containerItems {
        display: none;
    }
}

@media (max-width: 970px) {
   .containerItems {
    width: 250px;
    height: 240px;
    background-color: rgba(67, 67, 67, 0.84);
    position: absolute;
    top: 120px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 2;
   }

   .items{
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
   }

   .items select{
    background-color: wheat;
   } 
}

@media (max-width: 1200px) {
    .botonFiltros {
        display: block;
        position: absolute;
        left: 5px;
        top: 115px;
        cursor: pointer;
       }
    
       .botonFiltros img:hover {
        transform: scale(1.1);
        transition: .5s;
       }
    
       .botonFiltros img {
        width: 40px;
        height: 40px;
       }
}



