.container {
    width: 85%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container button {
    height: 80px;
    width: 60px;
    font-size: 90px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

.container button:hover{
    cursor: pointer;
}

.sliderContainer {
    height: 130px;
    width: 550px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slider 60s alternate infinite;
}

.imageFlag {
    width: 60%;
    height: 65%;
    margin: auto 15px;
}

@keyframes slider {
    from {
        margin-left: 0%;   
    }
    to {
        margin-left: 1000%;
    }
}

@media (max-width: 500px) {
    .container{
        width: 420px;
        margin: 0 auto;
    }
    .sliderContainer {
        height: 10vh;
    }

    .imageFlag {
        width: 100px;
        height: 50px;
        margin: auto 15px;
    }
}
