.inputSearch {
    background-color: rgba(255, 255, 255, 0.524);
    border-radius: 2px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;  
}
.inputSearch::placeholder {
    color: rgb(62, 62, 62);
    margin-left: 5px;
}

